header, main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    margin-top: 200px;
}

button {
    width: 80px;
    height: 30px;
    border-radius: 15px;
}

button:hover {
    background-color: rgb(240, 241, 212);
}

